<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testList</title>
</head>
<body>
    <script>
        function test(TEST_SEQ){
            console.log(TEST_SEQ);
        }
    </script>

    <form>
        <div th:each="test : ${tests}">
            <h1 th:text="${test.NAME}"></h1>
            <h5 th:text="${test.DESCRIPTION}"></h5>
            <input type="submit" name="clickIdx" th:value="${test.TEST_SEQ}" th:formmethod="POST" th:formaction="@{/editTest}">
            <input type="submit" name="clickIdx" th:value="${test.TEST_SEQ}" th:formmethod="POST" th:formaction="@{/removeTest}">
            <hr>
        </div>
    </form>

    <form>
        <input type="submit" name="addTest" th:value="추가" th:formmethod="POST" th:formaction="@{/createTest}">
    </form>
</body>
</html>