<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--테스트 리스트 페이지-->
<script>
    function removeTest(button){
        console.log("removeTest : " + button.value);
        $.ajax({
            url : "/removeTest",
            type : "POST",
            data : {
                TEST_SEQ: button.value
            },
            success : function(successMsg){
                location.reload();
            },
            error : function(errMsg){
                console.error(errMsg);
            }
        })
    }
    function openEditLayer(button){
        console.log("openEditLayer : " + button.value);
        $.ajax({
            url : "/testRelTestcaseList",
            type : "POST",
            data : {
                TEST_SEQ: button.value
            },
            success : function(list_of_test_rel_testcase){
                console.log(list_of_test_rel_testcase);
                $("#testEditLayer").show();
                setTestcaseListVue(list_of_test_rel_testcase);
            },
            error : function(err){
                console.error(err);
            }
        });
    }
    function closeEditLayer(){
        $("#testEditLayer").hide();
    }

    var testcaseListVue = null
    function setTestcaseListVue(list){
        $("#testRelTestcaseList").show();
        if(testcaseListVue == null){
            testcaseListVue = new Vue({
                el : "#testRelTestcaseList",
                data : {
                    list : list,
                }
            })
        } else {
            testcaseListVue.list = list;
        }
    }
</script>

<!--테스트케이스 리스트 레이어-->
<script>
    function moveUpTestcase(button){
        var TESTCASE_SEQ = $(button).attr("TESTCASE_SEQ");
        console.log(TESTCASE_SEQ);
    }
    function moveDownTestcase(button){
        var TESTCASE_SEQ = $(button).attr("TESTCASE_SEQ");
        console.log(TESTCASE_SEQ);
    }
    function editTestcase(button){
        var TESTCASE_SEQ = $(button).attr("TESTCASE_SEQ");
        console.log(TESTCASE_SEQ);
    }
    function removeTestcaseFromTest(button){
        var TESTCASE_SEQ = $(button).attr("TESTCASE_SEQ");
        console.log(TESTCASE_SEQ);
    }
</script>

<!--html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testList</title>
</head>
<body>
    <div th:each="test : ${tests}">
        <h1 th:text="${test.NAME}"></h1>
        <h5 th:text="${test.DESCRIPTION}"></h5>
        <button th:value="${test.TEST_SEQ}" onclick="openEditLayer(this)">편집</button>
        <button th:value="${test.TEST_SEQ}" onclick="removeTest(this)">삭제</button>
        <hr>
    </div>

    <button onclick="openEditLayer(this)">테스트 추가</button>
</body>
</html>

<!--layers-->
<div id="testEditLayer" class="testEditLayer" style="display: none">
    <div>
        <table>
            <tbody id="testRelTestcaseList" style="display: none">
            <tr v-for="rel in list">
                <td>{{rel.relation_SEQ}}</td>
                <td>{{rel.list_INDEX}}</td>
                <td>{{rel.testcase_SEQ}}</td>
                <td>
                    <button v-bind:TESTCASE_SEQ="rel.testcase_SEQ" onclick="moveUpTestcase(this)">위로</button>
                    <button v-bind:TESTCASE_SEQ="rel.testcase_SEQ" onclick="moveDownTestcase(this)">아래로</button>
                    <button v-bind:TESTCASE_SEQ="rel.testcase_SEQ" onclick="editTestcase(this)">편집</button>
                    <button v-bind:TESTCASE_SEQ="rel.testcase_SEQ" onclick="removeTestcaseFromTest(this)">제거</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <hr>
    <button>추가</button>
    <button onclick="closeEditLayer()">닫기</button>
</div>
<style>
    .testEditLayer {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0%;
        top: 0%;
        border:2px solid #ccc;
        overflow:auto;
        background-color:white;
        border-radius: 5px;
    }
</style>