<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krafton.kts.backend.domain.action.service.impl.mybatis.PropertyInterfaceMybatisMapper">
    <select id="findProperty" resultType="com.krafton.kts.backend.domain.action.domain.db.KTS_ACTION_PROPERTY">
        SELECT * FROM KTS_ACTION_PROPERTY WHERE actionGuid = #{actionGuid} AND deleted = 'N'
    </select>

    <select id="getPropertyTemplate" resultType="com.krafton.kts.backend.domain.action.domain.db.KTS_ACTION_PROPERTY_TEMPLATE">
        SELECT * FROM KTS_ACTION_PROPERTY_TEMPLATE where actionId = #{actionId}
    </select>

    <update id="saveProperties" parameterType="com.krafton.kts.backend.domain.action.domain.command.SavePropertiesCommand">
        UPDATE KTS_ACTION_PROPERTY SET deleted = 'Y' WHERE actionGuid = #{actionGuid};

        <if test="properties != null and properties.size() > 0">
            INSERT INTO KTS_ACTION_PROPERTY (propertySeq, propertyName, propertyValue, actionGuid) VALUES
            <foreach item="item" index="index" collection="properties" separator=",">
                (#{item.propertySeq}, #{item.propertyName}, #{item.propertyValue}, #{item.actionGuid})
            </foreach>
            ON DUPLICATE KEY UPDATE propertyName = VALUES(propertyName), propertyValue = VALUES(propertyValue), actionGuid = VALUES(actionGuid);
        </if>

        UPDATE KTS_ACTION SET actionId = #{actionId} WHERE actionGuid = #{actionGuid};
    </update>
</mapper>