<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krafton.kts.backend.domain.running_test.interfaces.mybatis.RunningTestInterfaceMybatisMapper">
    <insert id="addOrUpdateRunningTest" parameterType="com.krafton.kts.backend.domain.running_test.domain.db.RUNNING_TEST">
        INSERT INTO RUNNING_TEST (runningTestGuid, testGuid, currentRunningTestcaseOrder, currentRunningActionOrder, startAt, endAt, status)
        VALUES (#{runningTestGuid}, #{testGuid}, #{currentRunningTestcaseOrder}, #{currentRunningActionOrder}, #{startAt}, #{endAt}, #{status})
        ON DUPLICATE KEY UPDATE testGuid = VALUES(testGuid), currentRunningTestcaseOrder = VALUES(currentRunningTestcaseOrder), currentRunningActionOrder = VALUES(currentRunningActionOrder), startAt = VALUES(startAt), endAt = VALUES(endAt), status = VALUES(status);
    </insert>

    <select id="findRunningTest" parameterType="String" resultType="com.krafton.kts.backend.domain.running_test.domain.db.RUNNING_TEST">
        SELECT * FROM RUNNING_TEST WHERE runningTestGuid = #{runningTestGuid};
    </select>
</mapper>