<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krafton.kts.backend.domain.running_property.interfaces.mybatis.RunningPropertyInterfaceMybatisMapper">
    <insert id="addRunningProperty" parameterType="com.krafton.kts.backend.domain.running_property.domain.command.AddRunningPropertyCommand">
        INSERT INTO RUNNING_PROPERTY (runningPropertyGuid, runningActionGuid, runningPropertyName, runningPropertyValue) VALUES
        <foreach collection="runningProperties" item="item" separator=",">
            (#{item.runningPropertyGuid}, #{item.runningActionGuid}, #{item.runningPropertyName}, #{item.runningPropertyValue})
        </foreach>;
    </insert>

    <select id="findRunningProperty" parameterType="String" resultType="com.krafton.kts.backend.domain.running_property.domain.db.RUNNING_PROPERTY">
        SELECT * FROM RUNNING_PROPERTY WHERE runningActionGuid = #{runningActionGuid};
    </select>
</mapper>