<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krafton.kts.backend.domain.test_rel_testcase.service.impl.mybatis.TestRelTestcaseInterfaceMybatisMapper">
    <select id="findTestRelTestcaseDerived" resultType="com.krafton.kts.backend.domain.test_rel_testcase.domain.db.TEST_REL_TESTCASE">
        SELECT a.*, b.name, b.description
        FROM TEST_REL_TESTCASE a
            LEFT JOIN KTS_TESTCASE b ON a.testcaseGuid = b.testcaseGuid
        WHERE a.testGuid = #{testGuid} AND a.deleted = 'N'
        ORDER BY listIndex;
    </select>

    <update id="saveTestRelTestcase" parameterType="com.krafton.kts.backend.domain.test_rel_testcase.domain.command.TestRelTestcaseSaveCommand">
        INSERT INTO KTS_TEST (testGuid, name, description) VALUES (#{testGuid}, #{testName}, #{testDescription})
        ON DUPLICATE KEY UPDATE name = VALUES(name), description = VALUES(description);

        UPDATE TEST_REL_TESTCASE SET DELETED = 'Y' WHERE testGuid = #{testGuid};

        INSERT INTO TEST_REL_TESTCASE (relationGuid, testGuid, listIndex, testcaseGuid) VALUES
        <foreach item="item" index="index" collection="relationList" separator=",">
            (#{item.relationGuid}, #{item.testGuid}, #{index}, #{item.testcaseGuid})
        </foreach>;
    </update>
</mapper>