<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krafton.kts.backend.domain.testcase.service.impl.mybatis.TestcaseInterfaceMybatisMapper">
    <select id="findTestRelTestcaseDerived" resultType="com.krafton.kts.backend.domain.test_rel_testcase.domain.db.TEST_REL_TESTCASE">
        SELECT a.*, b.name, b.description
        FROM TEST_REL_TESTCASE a
            LEFT JOIN KTS_TESTCASE b ON a.testcaseGuid = b.testcaseGuid
        WHERE a.testSeq = #{testSeq} AND a.deleted = 'N'
        ORDER BY listIndex
    </select>

    <insert id="saveTestRelTestcase" parameterType="com.krafton.kts.backend.domain.test_rel_testcase.domain.command.TestRelTestcaseSaveCommand">

    </insert>
</mapper>