<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krafton.kts.backend.domain.test_rel_testcase.interfaces.mybatis.TestRelTestcaseInterfaceMybatisMapper">
    <update id="saveTestRelTestcase" parameterType="com.krafton.kts.commands.testreltestcase.SaveTestRelTestcaseCommand">
        UPDATE TEST_REL_TESTCASE SET DELETED = 'Y' WHERE testGuid = #{testGuid};

        INSERT INTO TEST_REL_TESTCASE (relationGuid, testGuid, listIndex, testcaseGuid) VALUES
        <foreach item="item" index="index" collection="relationList" separator=",">
            (#{item.relationGuid}, #{item.testGuid}, #{index}, #{item.testcaseGuid})
        </foreach>
        ON DUPLICATE KEY UPDATE testGuid = VALUES(testGuid), listIndex = VALUES(listIndex), testcaseGuid = VALUES(testcaseGuid), deleted='N';
    </update>

    <update id="removeTestRelTestcaseByTestcaseGuid" parameterType="com.krafton.kts.commands.testreltestcase.RemoveTestRelTestcaseByTestcaseGuidCommand">
        UPDATE TEST_REL_TESTCASE SET deleted = 'Y' WHERE testcaseGuid = #{testcaseGuid};
    </update>

    <update id="removeTestRelTestcaseByTestGuid" parameterType="com.krafton.kts.commands.testreltestcase.RemoveTestRelTestcaseByTestGuidCommand">
        UPDATE TEST_REL_TESTCASE SET deleted = 'Y' WHERE testGuid = #{testGuid};
    </update>
</mapper>