<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../../static/js/testList.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/testList.css">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testList</title>
</head>
<body>
    <div th:each="test : ${tests}">
        <h1 th:text="${test.NAME}"></h1>
        <h5 th:text="${test.DESCRIPTION}"></h5>
        <button th:value="${test.TEST_SEQ}" onclick="openEditLayer(this)">편집</button>
        <button th:value="${test.TEST_SEQ}" onclick="removeTest(this)">삭제</button>
        <hr>
    </div>

    <button onclick="openEditLayer(this)">테스트 추가</button>
</body>
</html>

<!--layers-->
<div id="testEditLayer" class="testEditLayer" style="display: none">
    <div>
        <table>
            <thead>
                <tr>
                    <th>순서</th>
                    <th>테스트케이스 이름</th>
                    <th>설명</th>
                    <th>상호작용</th>
                </tr>
            </thead>
            <tbody id="testRelTestcaseList" style="display: none">
            <tr v-for="rel in testRelTestcaseList_with_name_and_desc">
                <td>{{rel.LIST_INDEX}}</td>
                <td>{{rel.NAME}}</td>
                <td>{{rel.DESCRIPTION}}</td>
                <td>
                    <button v-bind:TESTCASE_SEQ="rel.TESTCASE_SEQ" v-bind:RELATION_SEQ="rel.RELATION_SEQ" v-bind:LIST_INDEX="rel.LIST_INDEX" onclick="moveUpTestcase(this)">위로</button>
                    <button v-bind:TESTCASE_SEQ="rel.TESTCASE_SEQ" v-bind:RELATION_SEQ="rel.RELATION_SEQ" v-bind:LIST_INDEX="rel.LIST_INDEX" onclick="moveDownTestcase(this)">아래로</button>
                    <button v-bind:TESTCASE_SEQ="rel.TESTCASE_SEQ" v-bind:RELATION_SEQ="rel.RELATION_SEQ" v-bind:LIST_INDEX="rel.LIST_INDEX" onclick="editTestcase(this)">편집</button>
                    <button v-bind:TESTCASE_SEQ="rel.TESTCASE_SEQ" v-bind:RELATION_SEQ="rel.RELATION_SEQ" v-bind:LIST_INDEX="rel.LIST_INDEX" onclick="removeTestcaseFromTest(this)">제거</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <hr>
    <button>추가</button>
    <button onclick="closeEditLayer()">닫기</button>
</div>